
<div class="image_area" >
    <div class="row">
        <span class="align-middle">
        <div class="column"> <img src="../../static/image/ieee_logo.svg" height="150px" /> </div>
        <div class="column"> <img src="../../static/image/farc_logo.png" width="310px" /> </div>
        <div class="column"> <img src="../../static/image/acm_logo.svg" width="150%" /> </div>
        <div class="column"> <img src="../../static/image/music_logo.png" width="130px" /> </div>
        <div class="column"> <img src="../../static/image/ie_logo.jpeg" width="120px" /> </div>
        <div class="column"> <img src="../../static/image/artist_logo.png" width="125px" /> </div>
        </span>
    </div>
</div> 

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>