{% extends "authentication/baseLogin.html" %}

{% block login_area %}


        <div class="login_box">
            <div class="box" style="width : 40%; margin-left: 25%;">
                <form action="/signin/" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name = "username" placeholder="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="passwd" class="form-label">Password</label>
                        <input type="password" class="form-control" id="passwd" name = "passwd" placeholder="password" required>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary" >Submit</button>
                    </div> <br>
                    <a href="{% url 'signup' %}" >Create Account</a>
                </form>
            </div>
        </div>


{% endblock %}