.body{
    padding : 1%;

}

.head{
    font-family: 'easports15';
    align-content: center;
    font-size : 50px;
    font-weight: 500;
    margin-top: 2%;
    margin-bottom: 1%;
}
.login_box{

    margin-left: 25%;
    margin-right: 25%;

    width: 50%;

}
.box {
    padding: 2em;
    margin: 1em;
    background: #ecf2f5;
    border: 1px solid #bcd;
    border-radius: 6px;
    font-family: 'jetbrains mono';
}

.image_area{
    display: inline-block;
}
.column{
    float:left;
    margin: 2em;  
    font-size: 24px;
    font-family: 'jetbrains mono';
}

