{% extends "base.html" %}

{% block content %}

<div id="content">
    <div id="content-left">
        <div  class="box">
            <div class="card-box">
            <div class="card" style="width: 18rem;">
                <img src="../static/image/ieee_logo.svg"  width="" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            
            </div>
             <div class="card-box">
                    <div class="card" style="width: 18rem;">
                        <img src="../static/image/acm_logo.svg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
            </div>
            <div class="card-box">
                <div class="card" style="width: 18rem;">
                    <img src="../static/image/farc_logo.png"  width="225px" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some hi quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>

        </div>
        <div class="box">
            hello there how are you <br>
            you good!
        </div>
    </div>
    <div id="content-right">
        <div  class="box">
            <h2>Available Features</h2>
            <li>Event Creation</li>
            <li>Upcoming Events</li>
            <li>Comments</li>
        </div>
    </div>
</div> 
DELETE THIS LINE
{% endblock %}