{% extends "base.html" %}

{% block content %}

<div id="content">
    <div id="content-left">
        <div  class="box">
            <h2>Available Features</h2>
            <li>Event Creation</li>
            <li>Upcoming Events</li>
            <li>Comments</li>
        </div>
        <div class="box">
            hello there how are you <br>
            you good!
        </div>
    </div>
    <div id="content-right">
        <div  class="box">
            <h2>Available Features</h2>
            <li>Event Creation</li>
            <li>Upcoming Events</li>
            <li>Comments</li>
        </div>
    </div>
</div>

<hr>

{% endblock %}