{% extends "base.html" %}

{% block content %}

<div id="content">
    <div id="content-left">
        <div  class="box">
          
                {% for clubs in club %}
                <div class="col">
                <div class="card-box">
                    <div class="card" style="width: 20rem;">
                      {% if clubs.clubImg %}
                        <img src= "{{ clubs.clubImg.url }}" width="300px" height="100px" class="card-img-top" alt="...">
                      {% endif %}
                        <div class="card-body"> 
                          <p style="background-color: rgb(198, 156, 237);"><strong>{{ clubs.clubName }} </strong></p>
                          <p class="card-text"> {{ clubs.clubDescription }}</p>
                        </div>
                      </div>
                </div>
              {% endfor %}

            </div>
        </div>
        <div class="box">
            hello there how are you <br>
            you good!
        </div>
    </div>
    <div id="content-right">
        <div  class="box">
            <h2>Available Features</h2>
            <li>Event Creation</li>
            <li>Upcoming Events</li>
            <li>Comments</li>
        </div>
    </div>
</div> 
DELETE THIS LINE
{% endblock %}